.bg-dark {
  background-color: #1f1f1f;
}

.navbar-light .navbar-brand {
  color: #fff;
}
.navbar-brand {
  display: flex;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.jumbotron {
  background-color: black;
}
.display-4 {
  display: flex;
  justify-content: center;
  color: white;
}
