body {
  display: block;
  margin: 0 0 0 0;
  width: 100%;
}
.bg-dark {
  background-color: #1f1f1f;
  color: #fff;
}

.navbar-light .navbar-brand {
  color: #fff;
}
.navbar-brand {
  display: flex;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
  font-size: 10pt;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
}

.jumbotron {
  background-color: black;
  min-height: 50vh;
}
.display-4 {
  display: flex;
  justify-content: center;
  color: white;
  padding-top: 15vh;
  font-size: 20pt;
}

.lead {
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 10pt;
}

#gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.gallery-title {
  display: flex;
  justify-content: center;
  font-size: 25pt;
}

.page-footer {
  background-color: black;
}

.corner-photo {
  color: #1f1f1f;
  text-transform: lowercase;
}
