.navigation {
  display: flex;
  justify-content: flex-start;
  padding-left: 5vh;
  padding-top: 2vh;
  background-color: #1f1f1f;
}

.corner {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.corner-photo {
  text-transform: lowercase;
  color: #999797;
  margin-top: 0px;
}

a {
  color: #fff;
}

a:hover.nav-link {
  color: #999797;
}

a:hover.corner {
  color: #fff;
  text-decoration: none;
}
